body {
    background-color: #1E1E1E; /* Donkerblauwe achtergrond */
    color: rgb(255, 255, 255); /* Tekstkleur */
    font-family: Arial, sans-serif;
    margin: 0;
}

nav {
    background-color: #1E1E1E; /* Donkerder blauwe menubalkleur */
    max-width: 1000px; /* Stel de maximale breedte in voor de menubalk */
    margin: 0 auto; /* Centreer de menubalk op de pagina */
    display: flex; /* Maak de menubalk een flex container */
    justify-content: center; /* Centreer de inhoud horizontaal in de menubalk */
    align-items: center; /* Centreer de inhoud verticaal in de menubalk */
    height: 50px; /* Hoogte van de menubalk */
}

.menu ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Maak de lijst een flex container */
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li:last-child {
    margin-right: 0; /* Verwijder de marge aan de rechterkant van het laatste lijstitem */
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.content {
    padding: 20px;
}
