body {
    background-color: #2e2e2e; /* Achtergrondkleur van de website */
    color: rgb(255, 255, 255); /* Tekstkleur */
    font-family: Arial, sans-serif;
    margin: 0;
}

nav {
    background-color: #2e2e2e; /* Achtergrondkleur van de menubalk */
    max-width: 1000px; /* Stel de maximale breedte in voor de menubalk */
    margin: 0 auto; /* Centreer de menubalk op de pagina */
    display: flex; /* Maak de menubalk een flex container */
    justify-content: center; /* Centreer de inhoud horizontaal in de menubalk */
    align-items: center; /* Centreer de inhoud verticaal in de menubalk */
    height: 50px; /* Hoogte van de menubalk */
    border-bottom: 2px solid #5a5a5a; /* Voeg een 2px dikke #5a5a5a rand toe aan de onderkant */
}

.menu ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Maak de lijst een flex container */
}

.menu ul li {
    margin-right: 20px;
    font-weight: bold; /* Maak de tekst vetgedrukt */
}

.menu ul li:last-child {
    margin-right: 0; /* Verwijder de marge aan de rechterkant van het laatste lijstitem */
}

.menu ul li a {
    text-decoration: none;
    color: white;
    padding: 10px; /* Voeg ruimte toe rond de tekst in elk menu-item */
    transition: background-color 0.2s; /* Voeg een vloeiende overgang toe voor de achtergrondkleur */
}

.menu ul li a:hover {
    background-color: #777; /* Achtergrondkleur veranderen bij hover */
}

.content {
    padding: 20px;
}

/* Stijl voor de home-link met het woord "Home" en het huispictogram */
.home-link {
    text-decoration: none; /* Verwijder de standaard onderstreping van de link */
    color: white; /* Tekstkleur */
    display: flex; /* Maak een flex-container om de elementen uit te lijnen */
    align-items: center; /* Centreer de inhoud verticaal */
    padding: 5px; /* Voeg ruimte toe binnen de rand */
    border: 2px solid #5a5a5a; /* Voeg een 2px dikke rand toe met dezelfde kleur als de menubalk */
    border-radius: 10px; /* Maak de randen rond */
    transition: background-color 0.2s; /* Voeg een vloeiende overgang toe voor de achtergrondkleur */
}

.home-link:hover {
    background-color: #777; /* Achtergrondkleur veranderen bij hover */
}

.home-link .home-icon {
    font-size: 24px; /* Grootte van het huispictogram */
    margin-right: 5px; /* Ruimte toevoegen tussen het pictogram en de tekst */
}

.home-link .home-text {
    font-size: 24px; /* Grootte van de tekst "Home" */
    font-weight: bold; /* Maak de tekst vetgedrukt */
}

/* Verberg de andere grijze home-link */
.grijze-home-link {
    display: none;
}
